<section class="main-content">
  <h1>Products</h1>
  <ul>
    <li *ngFor="let product of (products$ | async)">
      <div>
        <a routerLink="product/{{product.id}}">
          <img src="{{product.url}}" width="400" height="600" alt="{{product.name}}"/>
        </a>
      </div>
      <div>
        <h3>
          <a routerLink="product/{{product.id}}">{{product.name}}</a>
        </h3>
        <p>{{product.price | currency}}</p>
        <app-add-product [product]="product"></app-add-product>
      </div>
    </li>
  </ul>
</section>
